!/src/
!/src/**/
!/src/**/*.js

!/public/
!/public/index.html
!/public/style.css
!/public/beep.mp3

!/public/cards/
!/public/cards/*.svg

!/pnpm-lock.yaml
!/package.json
!/server.js
!/devServer.js
!/testem.json
!/webpack.config.js
!/README.md
