# block all
*
!/*/
!/.gitignore

# whitelist
!/src/**/*.js
!/public/index.html
!/public/style.css
!/public/cards/*.svg
!/public/beep.mp3

!/pnpm-lock.yaml
!/package.json
!/server.js
!/devServer.js
!/testem.json
!/webpack.config.json
!/README.md