*
!.gitignore

!/README.md

!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml

!/frontend/

!/infrastructure/
!/infrastructure/Pulumi*.yaml
!/infrastructure/tsconfig.json
!/infrastructure/package.json
!/infrastructure/pnpm-lock.yaml

!/infrastructure/src/
!/infrastructure/src/*.ts
!/infrastructure/src/tags.json
